.htmlspecialcharacter acronym {margin:0.1em 0.5em 0.1em 0; cursor:pointer; text-decoration:none;}
#morehtmlspecialcharacters dt {font-weight:bold;}
#morehtmlspecialcharacters dd {margin-left:6px;}
#htmlhelperhelp {font-size:x-small; display:none;}
#morehtmlspecialcharacters, #htmlhelper_less {display:none;}
.htmlspecialcharacter_helplink {margin-right:0.5em;}
.c2c_hsch_controls {margin-top:1em;}
.c2c_hsch_send_to_editor, .c2c_hsch_copy_to_clipboard {display:block; line-height:22px;}
#htmlhelperhelp h3 {margin-bottom:0;}
#htmlhelperhelp ul {list-style:initial; margin-top:0; padding-left:1.5em;}
#htmlhelperhelp li {margin-bottom:0;}
